In [ ]:
Q1. Electricity Bill Calculator (using only if statements)?

In [1]:
units = int(input("Enter number of units: "))
bill = 0

if units > 100:
    if units <= 200:
        bill = (units - 100) * 5
    if units > 200:
        bill = (100 * 5) + ((units - 200) * 10)
if units <= 100:
    bill = 0

print("Total electricity bill is Rs.", bill)

Enter number of units:  1000

Total electricity bill is Rs. 8500

In [ ]:
Q2. Percentage to Grade Converter?

In [2]:
percentage = float(input("Enter your percentage: "))

if percentage > 90:
    grade = "A"
if percentage > 80 and percentage <= 90:
    grade = "B"
if percentage >= 60 and percentage <= 80:
    grade = "C"
if percentage < 60:
    grade = "D"

print("Your grade is:", grade)

Enter your percentage:  75

Your grade is: C

In [ ]:
Q3. Find the Youngest of 4 People?

In [3]:
a = int(input("Enter age of person 1: "))
b = int(input("Enter age of person 2: "))
c = int(input("Enter age of person 3: "))
d = int(input("Enter age of person 4: "))

youngest = a
if b < youngest:
    youngest = b
if c < youngest:
    youngest = c
if d < youngest:
    youngest = d

print("The youngest person is", youngest, "years old.")

Enter age of person 1:  64
Enter age of person 2:  89
Enter age of person 3:  31
Enter age of person 4:  19

The youngest person is 19 years old.

In [ ]:
Q4. Bonus Calculator Based on Service Years?

In [5]:
salary = float(input("Enter your salary: "))
years = float(input("Enter years of service: "))
bonus = 0

if years > 10:
    bonus = 0.10 * salary
if years >= 6 and years <= 10:
    bonus = 0.08 * salary
if years < 6:
    bonus = 0.05 * salary

print("Bonus amount is Rs.", bonus)

Enter your salary:  50000
Enter years of service:  9

Bonus amount is Rs. 4000.0

In [ ]:
Q5. Second Largest of 3 Numbers?

In [6]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if (a > b and a < c) or (a < b and a > c):
    second = a
if (b > a and b < c) or (b < a and b > c):
    second = b
if (c > a and c < b) or (c < a and c > b):
    second = c

print("Second largest number is:", second)

Enter first number:  88
Enter second number:  90
Enter third number:  23

Second largest number is: 88

In [ ]:
Q6. Marked Price Discount Calculator?

In [7]:
mp = float(input("Enter marked price: "))
discount = 0

if mp > 10000:
    discount = 0.20 * mp
if mp > 7000 and mp <= 10000:
    discount = 0.15 * mp
if mp <= 7000:
    discount = 0.10 * mp

net_amount = mp - discount
print("Net amount to pay is Rs.", net_amount)

Enter marked price:  8000

Net amount to pay is Rs. 6800.0

In [ ]:
Q7. Stream Allotment Based on Subject Marks?

In [8]:
eng = int(input("Enter marks in English: "))
math = int(input("Enter marks in Math: "))
sci = int(input("Enter marks in Science: "))
sst = int(input("Enter marks in Social Studies: "))

if eng > 80 and math > 80 and sci > 80 and sst > 80:
    print("Stream: Science Stream")
if eng > 80 and math > 50 and sci > 50:
    print("Stream: Commerce Stream")
if eng > 80 and sst > 80:
    print("Stream: Humanities")

Enter marks in English:  89
Enter marks in Math:  79
Enter marks in Science:  88
Enter marks in Social Studies:  90

Stream: Commerce Stream
Stream: Humanities

In [ ]:
Q8. Hello if Number is Multiple of 5, else Bye?

In [9]:
num = int(input("Enter a number: "))

if num % 5 == 0:
    print("Hello")
if num % 5 != 0:
    print("Bye")

Enter a number:  25

Hello

In [ ]:
Q9. Check if Last Digit Divisible by 3 or Not?

In [10]:
num = int(input("Enter a number: "))
last_digit = num % 10

if last_digit % 3 == 0:
    print("Last digit is divisible by 3")
if last_digit % 3 != 0:
    print("Last digit is not divisible by 3")

Enter a number:  39

Last digit is divisible by 3

In [ ]:
Q10. Check Whether Number is 3-digit or Not?

In [11]:
num = int(input("Enter a number: "))

if num >= 100 and num <= 999:
    print("It is a three-digit number.")
if num < 100 or num > 999:
    print("It is not a three-digit number.")

Enter a number:  259

It is a three-digit number.